<%Object.values(session.cart.items).forEach(function(pizza){%>  
    <div class="pizza-list">
        <div class="flex items-center my-8">
            <img class="w-24" src="/img/<%= pizza.item.image %>" alt="purchase-pizza-png">
            <div class="flex-1 ml-4">
                <h1 class="capitalize"><%= pizza.item.name %></h1>
                <span class="uppercase"><%= pizza.item.size %></span>
            </div>
            <span class="capitalize flex-1"><%= pizza.qty %> pcs</span>
            <span class="font-bold text-lg">₹<%= pizza.item.price * pizza.qty %></span>
        </div>
    </div>
<%})%>